* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 200;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #343A40;
  color: #FFC107;
  overflow: hidden;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 4rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}


body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}

main {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}


.audio {
  font-weight: 200;
  height: 350px;
  color: #E1E8EB;
  width: 50%;
  padding: 32px;
  gap: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.track-details {
  text-shadow: 1px 2px 3px rgba(0,0,0,0.95);
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.audio > img {
  border-radius: 10px;
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
}

#source-audio {
  margin-top: 8px;
  width: 100%;
  filter: invert(.9);
}

.audio h2, .audio h5 {
  margin-top: 0;
  margin-bottom: 4px;
}

.visualization {
  position: absolute;
  width: 100vw;
  height: 50%;
  bottom: 0;
  left: 0;
}

#visualizer {
  display: block;
  width: 100vw;
  height: 100%;
  transform: scale(1.1);
}

.github-link, .github-link:visited, .github-link:hover {
  writing-mode: vertical-rl;
  color: ghostwhite;
  text-orientation: vertical;
  position: fixed;
  top: 40%;
  right: 0;
}
.github-link {
  font-size: 14px;
}

.hidden {
  display: none;
}

@media (pointer: coarse) {
  .hidden {
    display: block !important;
  }
}
